<% provide(:title, 'Info') %>
<h1>Info</h1>

<h4>Beschreibung</h4>
<p>Der spezielle Shop für Hobby-Confiseure.</p>

<h4>Konditionen</h4>
Die Lieferung erfolgt ausschliesslich innerhalb der Schweiz.

<p>Zum angezeigten Preis erfolgt kein Zuschlag für die Mehrwertsteuer.</p>

<p>Für Verpackung und Versand erfolgt ein Zuschlag von pauschal CHF 16.00. Ab einem Warenwert von CHF 200.00 entfällt dieser Zuschlag. Bestellungen unter einem Warenwert von CHF 30.00 sind nicht möglich.</p>

<p>Die Lieferung erfolgt gegen Vorauszahlung oder per Nachnahme (zusätzlich belastete Kosten: Fr. 15.-). Ab der dritten Bestellung können Sie Waren auch auf Rechnung beziehen (Zahlungsfrist: 10 Tage). Gegen Barzahlung können Sie die Ware auch bei uns abholen.</p>

<p>Beachten Sie bitte auch die Allgemeinen Geschäftsverbindungen (AGB).</p>

<h4>Kontakt</h4>
<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  Postkonto 60-771554-0<br />
  IBAN-Nr. CH8009000000607715540<br />
  <br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>

<h4>Suchen Sie etwas bestimmtes?</h4>
Fragen Sie uns, vielleicht können wir Ihnen das Gesuchte besorgen!

<h4>Währung</h4>
CHF

<h4>Zahlung</h4>
Vorauszahlung, per Nachnahme (+15.-), Rechnung (Stammkunde) Bar (Ware wird abgeholt)

<h4>Inhaber</h4>
<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  <br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>
