<% provide(:title, 'Info') %>
<h3 class="h3 mb-3 font-weight-normal">Info</h3>
<p>Der spezielle Shop für Hobby-Confiseure.</p>

<h5>Konditionen</h5>
<p>Die Lieferung erfolgt ausschliesslich innerhalb der Schweiz.
Zum angezeigten Preis erfolgt kein Zuschlag für die Mehrwertsteuer.<br />
Für Verpackung und Versand erfolgt ein Zuschlag von pauschal CHF 16.00. Ab einem Warenwert von CHF 200.00 entfällt
dieser Zuschlag. Bestellungen unter einem Warenwert von CHF 30.00 sind nicht möglich.<br />
Die Lieferung erfolgt gegen Vorauszahlung oder per Nachnahme (zusätzlich belastete Kosten: Fr. 15.-). 
Ab der dritten Bestellung können Sie Waren auch auf Rechnung beziehen (Zahlungsfrist: 10 Tage). 
Gegen Barzahlung können Sie die Ware auch bei uns abholen.<br />
Beachten Sie bitte auch die Allgemeinen Geschäftsverbindungen (AGB).</p>

<h5>Kontakt</h5>
<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  Postkonto 60-771554-0<br />
  IBAN-Nr. CH8009000000607715540<br />
  <br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>

<h5>Suchen Sie etwas bestimmtes?</h5>
<p>Fragen Sie <a href="mailto:j.bechtel@vtxmail.ch">uns</a>, vielleicht können wir Ihnen das Gesuchte besorgen!</p>

<h5>Währung</h5>
<p>Schweizer Franken (CHF)</p>

<h5>Zahlungsmöglichkeiten</h5>
<ul>
<li>Vorauszahlung</li>
<li>Rechnung (Stammkunde)</li>
<li>Bar (Ware wird abgeholt)</li>
</ul>
<h5>Inhaber</h5>
<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  <br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>
