<h1>Allgemeine Geschäftsbedingungen</h1>

<h4>Gültigkeit</h4>
<p>ab 01. Januar 2018. Dieses Dokument ersetzt alle früheren Ausgaben.</p>
<br />
<h4>Allgemeines</h4>
<p>Ein Kaufvertrag entsteht durch schriftliche oder elektronische Bestellung zwischen Ihnen als Besteller und <br />

<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>

Vertrags-, Bestell- und Geschäftssprache ist auf jeden Fall Deutsch.<br />
<br />
<h4>Lieferungen</h4>
<p>Sie können rund um die Uhr Ihre Bestellungen aufgeben. Zur Bestellung benutzen Sie am besten den elektronischen Warenkorb. Die Lieferungen beschränken sich ausschliesslich auf das Gebiet der Schweiz, es erfolgen keine Lieferungen ins Ausland.<br />

Damit eine Bestellung erfolgen kann, müssen Sie mindestens Vorname, Name, Adresse, Postleitzahl, Ort und E-Mail-Adresse angeben. Durch das folgende Anklicken des Buttons "Bestellung senden" geben Sie eine verbindliche Bestellung der im Warenkorb enthaltenen Waren ab. Unmittelbar nach dem Bestellen erhalten Sie per E-Mail eine Liste der bestellten Ware als Bestätigung.</p>
<br />
<h4>Preise</h4>
<p>Auf die Preise von bedello.ch erfolgt kein zusätzlicher Zuschlag für die Mehrwertsteuer.
Die Preise sind in Schweizer Franken. Die Verrechnung erfolgt ausschließlich in Schweizer Franken.</p>
<br />
<h4>Lieferfristen</h4>
Die Ware ab Lager ist in der Regel innerhalb von 1-3 Werktagen lieferbereit. Die Ware wird dann mit der Schweizerischen Post versandt (beachten Sie, dass vor Feiertagen die Lieferzeit für Pakete etwas länger dauern kann). Sollte sich der Versand durch Zufall, wie Streiks, Lieferschwierigkeiten unserer Lieferanten etc. verzögern, verlängert sich die Lieferfrist automatisch um die Länge der Verzögerung.<br />

Sollte die Verzögerung länger als 2 Wochen betragen, werden wir Sie schriftlich benachrichtigen und Sie können ohne Angabe von Gründen Ihren Auftrag stornieren. Schadenersatzansprüche durch die Lieferverzögerung sind ausgeschlossen.<br />

Bitte beachten Sie, dass in der warmen Jahreshälfte (ca. Mai bis ca. September) dieser Shop geschlossen ist und keine Lieferung erfolgt.</p>
<br />
<h4>Mindestbestellmenge</h4>
<p>Die Mindestbestellmenge in diesem Shop ist ein Warenwert von CHF 30.00. Bitte haben Sie Verständnis, dass wir kleinere Bestellungen aus wirtschaftlichen Gründen nicht bearbeiten können.</p>
<br />
<h4>Zahlungsarten</h4>
<strong>Vorauszahlung</strong><br />
Überweisen Sie den in der Bestellung aufgeführten Betrag (Warenwert und eventuell Versandkosten) an:

<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  Postkonto 60-771554-0<br />
  IBAN-Nr. CH8009000000607715540
</address>

Sie können diese Vorauszahlung auch mit PostFinance Card und PostFinance E-Finance tätigen.<br />

<strong>Rechnung (Stammkunden)</strong><br />
Sie können die Ware auch auf Rechnung bestellen (Zahlungsfrist: 10 Tage), allerdings nicht als Neukunde. Bei der dritten Bestellung zählen Sie als Stammkunde und können diese Zahlungsmethode wählen. <br />

<strong>Bar</strong><br />
Es besteht auch die Möglichkeit der Barzahlung, falls Sie Ihre Ware persönlich abholen. Dies ist allerdings nur mit vorgängiger Terminvereinbarung möglich.</p>
<br />
<h4>Haftung</h4>
<p>bedello.ch übernimmt keine Haftung bei Unzustellbarkeit oder verspäteter Auslieferung von Produkten durch falsch deklarierte Lieferadressen, Abwesenheit des Empfängers oder Ereignissen welche auf höhere Gewalt zurückzuführen sind.</p>
<br />
<h4>Beschädigte oder flasch gelieferte Ware</h4>
<p>Beschädigte oder falsch gelieferte Ware kann innerhalb von 3 Werktagen beanstandet werden. Erfolgt in dieser Frist keine Beanstandung, gilt die Ware als korrekt geliefert.</p>
<br />
<h4>Datenschutz</h4>
<p>Ihre persönlichen Angaben wie Name, Lieferanschrift, etc. verwenden wir ausschliesslich zur Bearbeitung Ihrer Bestellung und werden an keine Dritten weitergegeben.</p>
<br />
<h4>Gerichtsstand</h4>
<p>Gerichtsstand ist Basel.</p>
<br />
<h4>Adresse</h4>
<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>
