<h1>Kontakt</h1>
<address>
  <strong>bedello.ch</strong><br />
  Jürg Bechtel<br />
  In den Schorenmatten 23<br />
  4058 Basel<br />
  <br />
  <a href="mailto:j.bechtel@vtxmail.ch">j.bechtel@vtxmail.ch</a>
</address>