<% provide(:title, 'Home') %>
<div class="row">
	<div class="span2">
		<%= render 'layouts/sidebar' %>
	</div>
	<div class="span10">
<h1>Welcome to Bedellos Webshop</h1>
<%= image_tag "logo/bedello_shop_titelbild.jpg" %>

<div class="row">

<% 3.times do %>
	<div class="span3">
		<%= image_tag "logo/pralinen1.png" %>
		<p>
			I wrote this post just to show how it’s possible to get a perfectly working form with multiple files upload within a few minutes. If you need to implement multiple file attachments to a given object with only one form quickly, this example could help you.
		</p>
	</div>
<% end %>
</div>
</div>
</div>