<% provide(:title, 'All users') %>
<h3 class="h3 mb-3 font-weight-normal">Alle Benutzer</h3>

<%= will_paginate %>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Name</th>
    <th scope="col">E-Mail</th>
    <th scope="col">Erstellt am</th>
    <th scope="col">Administrator</th>
    <th scope="col">Action</th>
    </tr>
  </thead>
<tbody>
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</tbody>
</table>

<%= will_paginate %>