<h3 class="h3 mb-3 font-weight-normal text-center">Passwort zurücksetzen</h3>
<div class="row justify-content-center">
	<div class="col-6">
    <p>Gerne helfen wir Ihnen dabei wieder einen Zugang zu Ihrem Konto zu bekommen.
    <br />
    Tragen Sie dazu unten Ihre Email Adresse ein und folgen Sie den Anweisungen im Email.</p>

    <%= form_tag(password_reset_path, method: "post", class: "form-signin") do %>
      <div class="form-group">
        <%= label_tag :email, nil, class: "sr-only" %>
        <%= text_field_tag "email", nil, class: "form-control", placeholder: "Email address", type: "email" %>
      </div>
      <%= submit_tag "Passwort zurücksetzen", class: "btn btn-block btn-lg btn-primary" %>
    <% end %>
  </div>
</div>
