<h1>Settings</h1>
<p>
	<b>Email:</b> <%= @websiteSettings.mailAddress %> 
</p>
<p>
	Webshop ist geöffnet vom <b><%= @websiteSettings.webstoreOpen.strftime("%d.%m.%Y") %></b> bis am <b><%= @websiteSettings.webstoreClose.strftime("%d.%m.%Y") %></b>.
<p>
	<%= link_to "Edit", edit_website_setting_path(1), class: "btn btn-small" %>
</p>
