<div class="span5">
<h4>Konditionen</h4>
Die Lieferung erfolgt ausschliesslich innerhalb der Schweiz.

<p>Zum angezeigten Preis erfolgt kein Zuschlag für die Mehrwertsteuer.</p>

<p>Für Verpackung und Versand erfolgt ein Zuschlag von pauschal 16.00 CHF. Ab einem Warenwert von 200.00 CHF entfällt dieser Zuschlag. Bestellungen unter einem Warenwert von 30.00 CHF sind nicht möglich.</p>
</div>