<div id="cart">
<h2>Dein Warenkorb</h2>
<div id="empty_cart">
	Hopla, dein Warenkorb ist noch leer.
	<br /> <br />
	Zurück zum  <strong><%= link_to "Shop", root_path %></strong>
</div>
<div id="spinner"></div>
</div>
