<div class="row">
  <div class="span2">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="span10">
    <% if @products.any? %>
    <% if @category %>
      <h2><%= @category.name %></h2>
    <% else %>
      <h2>Alle Produkte</h2>
    <% end %>
      <br />
      <% @products.each do |product| %>       
          <%= render product %>
      <% end %>
    <% else %>
      <div class="lead">
        <br />
        Leider keine Produkte für diese Kategorie gefunden.<br />
        Gehen sie zurück zum <%= link_to "Shop", root_path %>
      </div>
    <% end %>
  </div>
</div>
