<footer class="footer">
  <nav>
  	<small class="pull-right">
    	Erstellt von Nicolas Mauchle
  	</small>
    <ul>
      <li><%= link_to 'Über',   about_path %></li>
      <li><%= link_to 'Kontakt', contact_path %></li>
    </ul>
  </nav>
  
</footer>

