<header class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("logo/banner_shop.jpg"), '#', id: "logo" %>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">

  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to " Home", root_path, id: "Home", class: "glyphicon glyphicon-home" %></li>
    <li><%= link_to " Warenkorb", '#', id: "Warenkorb", class: "glyphicon glyphicon-shopping-cart" %></li>
    <li><%= link_to " Kasse", '#', id: "Kasse", class: "glyphicon glyphicon-ok-sign" %></li>
  </ul>
</div>
</header>