 <ul class="nav nav-list">
  <li class="nav-header"><%= t('.categories') %> </li>
  <% categories.each do |c| %>
  <li>
    <%= link_to c.name, products_path(category_id: c.id), id: c.id %>
  </li>
  <% end %>
  <% if admin? %>
    <br />
    <%= link_to "#{image_tag('settings.png', size: '20')} Edit".html_safe, categories_path, class: "btn"%>
  <% end %>
</ul>

  